.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f9f9f9;
    line-height: 100px;
    z-index: 999;
}

.header img {
    width: 170px;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb>ul a {
    padding: 0 25px;
}


.companyVisual {
    padding-top: 100px;
}

.companyVisual .inner {
    position: relative;
    height: 645px;
    overflow: hidden;
}

.companyVisual .tit {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: right;
    z-index: 999;
    font-size: 100px;
}

.companyVisual .tit h2 {
    margin-bottom: 10px;
}

.companyVisual .tit span {
    font-size: 80px;
}

.companyVisual figure {
    position: absolute;
}

.companyVisual .c01 {
    top: 100px;
    left: 100px;
    width: 550px;
}

.companyVisual .c01::after {
    content: "";
    position: absolute;
    top: 300px;
    right: -140px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(138, 187, 42, 0.5);
}

.companyVisual .c02 {
    bottom: 55%;
    right: 0;
}

.companyVisual .c03 {
    top: 50px;
    left: 0;
}

/* company visual */
.flex {
    gap: 30px;
}

.left {
    flex: 1;
}

.left h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.left h2::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 35px;
    height: 2px;
    background: #666;
}

.right {
    flex: 2;
}

.companyIntrodution {
    background: #fff;
}

.companyIntrodution .right strong {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}

.companyIntrodution .right p {
    line-height: 1.4;
    margin-bottom: 10px;
}

/* introdution */

.footer {
    background: #13394a;
    color: #fff;
    line-height: 1.3;
}

.footer .foot_top {
    background: url(../img/footer_bg.png)no-repeat center center/cover;
    padding: 70px 0;
}

.footer .foot_top strong {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 1px;
}

.footer .foot_top p {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 40px;
}

.footer .foot_top a {
    padding: 13px 20px 15px 20px;
    background: #96b6d6;
    font-size: 18px;
}

.footer .foot_top a i {
    margin-left: 40px;
}

.footer .foot_btm {
    padding: 70px 0 100px 0;
    font-weight: 100;
    opacity: 0.8;
}

.footer .foot_btm .inner {
    gap: 30px;
    margin-bottom: 20px;
}

.footer .foot_btm .inner>* {
    flex: 1;
}

.footer .foot_btm .logo img {
    width: 200px;
}

.footer .foot_btm .contact span {
    display: block;
}

.footer .foot_btm .privacy {
    font-weight: 400;
}

.footer .foot_btm .copy {
    width: 1290px;
    margin-left: auto;
    font-size: 14px;
}

/* footer */

.to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
}

.to_top img {
    width: 100%;
}