.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f9f9f9;
    line-height: 100px;
    z-index: 999;
}

.header img {
    width: 170px;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb>ul a {
    padding: 0 25px;
}

/* header */

.mainVisual .inner {
    position: relative;
    padding-top: 110px;
    height: 100vh;
    line-height: 1.4;
}

.mainVisual .inner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 280px;
    right: 0;
    z-index: -1;
    height: 1px;
    background: #ddd;
}

.mainVisual h2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    font-size: 64px;
    font-weight: 300;
}

.mainVisual p {
    position: absolute;
    bottom: 100px;
    right: 100px;

    font-size: 18px;
    font-weight: 300;
}

.mainVisual span {
    position: absolute;
    top: 200px;
    left: 200px;

    font-size: 20px;
    font-weight: 300;
}

.mainVisual em {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    font-size: 18px;
    font-weight: 300;
}

.mainVisual .img_case {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 484px;
    height: 730px;
}

.mainVisual .img_case img {
    width: 465px;
}

.mainVisual .img_case .img_top {
    position: absolute;
    top: 0;
    left: 0;
}

.mainVisual .img_case .img_btm {
    position: absolute;
    bottom: 0;
    left: 0;

    overflow: hidden;
    border-radius: 50%;
}

.mainVisual .img_case .img_btm img:first-child {
    position: absolute;
    bottom: 57%;
    left: 0;
}

.mainVisual .img_case .deco {
    position: absolute;
    top: 50px;
    right: -100px;
    width: 80px;
    height: 80px;
    font-size: 0;
    background: #c9d9d3;
    border-radius: 50%;
}

.mainVisual .img_case .img_top::after {
    content: "";
    position: absolute;
    bottom: -300px;
    left: -150px;
    width: 160px;
    height: 160px;
    background: #bed3e4;
    border-radius: 50%;
}

/* main visual */
.mainContent {
    background: #fff;
}

.mainContent h2 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.main_content_case {
    transition: 0.4s;
}

.main_content_case>div {
    flex: 1;
}

.mainContent .text_box ul {
    position: relative;
    width: 690px;
    height: 100%;
    margin-left: auto;
}

.mainContent .text_box ul li {
    position: absolute;
    bottom: 100px;
    left: 0;

    opacity: 0;
    transition: 0.4s;
}

.mainContent .text_box ul li.on {
    opacity: 1;
}

.mainContent .text_box ul li strong {
    display: block;
    font-family: 'Noto Serif KR', serif;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 40px;
}

.mainContent .text_box ul li p {
    margin-bottom: 40px;
}

.mainContent .text_box ul li a {
    padding: 5px 35px;
    border: 1px solid #999;
}

.main_content_case .img_slide {
    overflow: hidden;
}

.main_content_case .img_slide figure {
    height: 600px;
}

/* main content */
.mainProduct {
    padding: 100px 0 0 0;
}

.mainProduct .inner {
    position: relative;
    width: 1200px;
    padding-bottom: 45px;
}

.mainProduct h2 {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.mainProduct .inner ul li {
    position: absolute;
    line-height: 1.45;
    font-size: 18px;
    font-weight: 100;
}

.mainProduct .inner ul li span {
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
}

.mainProduct .inner ul li:nth-child(1) {
    top: 0;
    left: 150px;
}

.mainProduct .inner ul li:nth-child(1).on span {
    text-shadow: 2px 2px 2px rgba(210, 139, 121, 0.7);
}

.mainProduct .inner ul li:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.mainProduct .inner ul li:nth-child(2).on span {
    text-shadow: 2px 2px 2px rgb(179, 229, 241);
}

.mainProduct .inner ul li:nth-child(3) {
    bottom: 100px;
    left: 100px;

}

.mainProduct .inner ul li:nth-child(3).on span {
    text-shadow: 2px 2px 2px rgb(211, 231, 173);
}

.mainProduct .main_product_img {
    width: 750px;
    height: 750px;
    margin: 0 auto;
    font-size: 0;
    background: url(../img/mp01.png) no-repeat center center/contain;
    transition: 0.5s;
}

/* main product */
.footer {
    background: #13394a;
    color: #fff;
    line-height: 1.3;
}

.footer .foot_top {
    background: url(../img/footer_bg.png)no-repeat center center/cover;
    padding: 70px 0;
}

.footer .foot_top strong {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 1px;
}

.footer .foot_top p {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 40px;
}

.footer .foot_top a {
    padding: 13px 20px 15px 20px;
    background: #96b6d6;
    font-size: 18px;
}

.footer .foot_top a i {
    margin-left: 40px;
}

.footer .foot_btm {
    padding: 70px 0 100px 0;
    font-weight: 100;
    opacity: 0.8;
}

.footer .foot_btm .inner {
    gap: 30px;
    margin-bottom: 20px;
}

.footer .foot_btm .inner>* {
    flex: 1;
}

.footer .foot_btm .logo img {
    width: 200px;
}

.footer .foot_btm .contact span {
    display: block;
}

.footer .foot_btm .privacy {
    font-weight: 400;
}

.footer .foot_btm .copy {
    width: 1290px;
    margin-left: auto;
    font-size: 14px;
}

/* footer */

.to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
}

.to_top img {
    width: 100%;
}